{% load static %}

<div class="col-lg-3 col-xl-3">
    <div class="row">
        <form method="get">
            <!--SORTING-->
            <div class="col-sm-12">
                <div class="side border mb-1">
                    <h3>Sorting by</h3>
                    {% for order_name, order_val in ordering_options %}
                    <div class="form-check">
                        <input class="form-check-input" {% if order_val == selected_ordering %} checked {% endif %}
                               type="radio" value="{{ order_val }}"
                               id="order-{{ forloop.counter0 }}" name="ordering">
                        <label class="form-check-label" for="order-{{ forloop.counter0 }}">{{ order_name }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--END SORTING-->

            <!--BRAND-->
            <div class="col-sm-12">
                <div class="side border mb-1">
                    <h3>Brand</h3>
                    {% for brand in brands_list %}
                    <div class="form-check">
                        <input class="form-check-input" {% if brand.name in selected_brand %} checked {% endif %}
                               type="checkbox" value="{{ brand.name }}"
                               id="brand-{{ forloop.counter0 }}" name="brand">
                        <label class="form-check-label" for="brand-{{ forloop.counter0 }}"> {{ brand.name }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--END BRAND-->

            <!--SIZE-->
            <div class="col-sm-12">
                <div class="side border mb-1">
                    <h3>Size</h3>
                    <div class="block-26 mb-2">
                        <ul>
                            {% for size in sizes_list %}
                            <label class="checkbox-btn">
                                <input type="checkbox" {% if size.name in selected_size %} checked {% endif %}
                                       name="size" value="{{ size }}">
                                <span>{{ size.name }}</span>
                            </label>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!--END SIZE-->

            <!--COLOR-->
            <div class="col-sm-12">
                <div class="side border mb-1">
                    <h3>Color</h3>
                    {% for color in colors_list %}
                    <div class="form-check">
                        <input class="form-check-input" {% if color.name in selected_color %} checked {% endif %}
                               type="checkbox" value="{{ color }}"
                               id="color-{{ forloop.counter0 }}" name="color">
                        <label class="form-check-label" for="color-{{ forloop.counter0 }}">
                            {{ color }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--END COLOR-->

            <!--CATEGORY-->
            <div class="col-sm-12">
                <div class="side border mb-1">
                    <h3>Category</h3>
                    <ul>
                        {% for category in categories_list %}
                        <div class="form-check">
                            <input {% if category.name in selected_category %} checked {% endif %}
                                   class="form-check-input" type="checkbox" value="{{ category }}"
                                   id="category-{{ forloop.counter0 }}" name="category">
                            <label class="form-check-label" for="category-{{ forloop.counter0 }}">
                                {{ category }}
                            </label>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!--END CATEGORY-->

            {% if q %}
            <input type="hidden" name="q" value="{{ q }}">
            {% endif %}

            <div class="col-sm-12 button-container">
                <button type="submit" class="block-26 mb-2 side border mb-1">Submit</button>
            </div>
        </form>
    </div>
</div>
